<div class="results-block">
  <%= render 'layouts/messages'%>
</div>

<% if @friends %>
  <div class="card card-header results-block">
    <table class="col-md-12">
      <tbody>
        <% @friends.each do |friend| %>
        <tr>
          <td>
            <strong>Name: </strong><%= friend.full_name %>
            <strong>Email: </strong><%= friend.email %>
            <strong><%= link_to 'View Profile', '#', class: 'btn btn-sm btn-success' %></strong>
            <% if current_user.friends.include?(friend) %>
              <%= link_to 'Unfollow', '#', class: 'btn btn-sm btn-warning', method: :post%>
            <% else %>
              <%= link_to 'Follow', '#', class: 'btn btn-sm btn-success', method: :post%>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
