<div class="results-block">
  <%= render 'layouts/messages'%>
</div>

<% if @friends %>
  <div class="card card-header results-block">
    <table class="col-md-12">
      <tbody>
        <% @friends.each do |friend| %>
        <tr>
          <td><strong>Name: </strong><%= friend.full_name %></td>  
          <td><strong>Email: </strong><%= friend.email %></td>
          <td>
            <strong><%= link_to 'View Profile', user_path(friend), class: 'btn btn-sm btn-success' %></strong>
            <% if current_user.not_friends_with?(friend.id) %>
              <%= link_to "Follow", friendships_path(friend: friend), method: :post, class: 'btn btn-sm btn-primary' %>
            <% else %>
              <%= link_to "Unfollow", friendship_path(friend), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-warning' %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
